@import "tailwindcss";

@theme {
  /* We define the names now, and can change the Hex codes anytime */
  --color-brand-primary: #004643;   /* This is your Cyprus */
  --color-brand-surface: #F0EDE5;   /* This is your Sand */
  --color-brand-accent: #f97316;    /* A classic orange for buttons */
}